body{
    background: hsl(30, 54%, 90%);
    color: hsl(30, 10%, 34%);
}

h1 {
    color: hsl(24, 5%, 18%);
    font-family: "Young Serif", serif;
    font-weight: 100;
}

h2 {
    color: hsl(14, 45%, 36%);
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

P {
    font-size: 16px;
    font-family: "Outfit", sans-serif;
}

.con {
    background: white;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    align-items: center;
}

li {
    padding-bottom: 10px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}

img {
    width: 100%;
    border-radius: 10px;
}

div {
    padding: 10px;
}

.prep {
    margin: 10px;
    background: hsl(330, 100%, 98%);
    border-radius: 10px;
}

.prep p {
    color: hsl(332, 51%, 32%);
    font-weight: 600;
}

th, td {
    padding-right: 100px;
    padding-bottom: 20px;
}

th {
    color: hsl(14, 45%, 36%);
    font-weight: bolder;
}
